body
{
	margin: 0;
}

h1
{
	font-size: 48pt;
	font-weight: lighter;
	font-family: century gothic;
	
	margin: 0;
	margin-top: 20mm;
	
	color: white;
}

h2
{	
	font-size: 20pt;
	font-family: century gothic;
	
	border-bottom: 2pt solid #6291bd;
	
	margin: 0;
	margin-top: 10pt;
}

h3
{
	font-size: 13pt;
	font-family: helvetica;
	
	margin: 0;
	margin-top: 10pt;
}

#about_me h3
{
	color: #6291bd;
}

p
{
	font-size: 13pt;
	font-family: helvetica;
	
	margin: 5pt 0 5pt 3pt;
}

ul
{
	font-size: 11pt;
	font-family: helvetica;
}

td
{
	font-size: 11pt;
	font-family: helvetica;
	
	width: 50%;
	padding-left: 5pt;
}

th
{
	font-size: 12pt;
	font-family: helvetica;
	
	text-align: left;
}

table
{
	width: 100%;
	margin-left: 3pt;
}

#content
{
	display:flex;
	justify-content: stretch;
	
	max-width: 210mm;
	margin: 0 auto;
	
	/*background-color: blue;*/
}

#header
{
	max-width: 200mm;
	margin: 3mm auto;
	padding: 5mm 5mm 5mm 5mm;
	
	border-radius: 0 10mm 10mm 0;
	background-color: #92a0ad;
}

#about_me
{
	width: 40%;
	padding: 4mm 2mm;
	
	border-radius: 0 10mm 10mm 10mm;
	background-color: #e9eef2;
}

#achievements
{
	width: 60%;
	padding: 4mm 20mm;
	/*background-color: red;*/
}